h1{
    color: goldenrod;
    text-align: center;
    text-decoration: grey;
    font-family: sans-serif;
    font-weight: bold;
    font-size:40px;
}


h2{
    color:gold;
    text-align: center;
    text-decoration: grey;
    font-family: sans-serif;
    font-weight: bold;
    font-size:30px;
}

body{

    background-color: gray;
}
